.card-list {
	margin-top: 75px;
	margin-bottom: 75px;
	@media screen and (min-width: 860px) {
		display: grid;
		grid-template-columns: 50% 50%;
		margin-top: 0px;
	}
	.card-wrapper {
		margin: 10px;
		margin-bottom: 0px;
	}
}

.project {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $white;
	.close-icon {
		height: 30px;
		width: 30px;
		position: absolute;
		right: 0;
		margin-right: 5px;
		margin-top: 10px; 
		padding: 5px;
		border-radius: 50%;
		background-color: rgba(0, 0, 0, 0.10);
		z-index: 1;
	}
}
@media screen and (min-width: 860px) {
	.project {
		background: none;
		.close-icon {
			filter: brightness(0) invert(1);
			background-color: rgba(0, 0, 0, 0.4	0);
		}
	}
}