.footer-container {
	width: 100vw;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 0;
	background: $white;
	img {
		height: auto;
		width: 30px;
		margin: 10px;
	}
}