.hero-container {
    background: #E0E0E0;
    height: 100vh;
    overflow-y: hidden;

    .sun-image {
        position: absolute;
        top: -26vh;
        width: 100vw;
    }

    .slide-1 {
        position: absolute;
        top: -26vh;
        width: 100vw;
    }

    .slide-2 {
        position: absolute;
        top: -25vh;
        width: 100vw;
    }

    .slide-3 {
        position: absolute;
        top: -25vh;
        width: 100vw;
    }

    .slide-4 {
        position: absolute;
        top: -24vh;
        width: 100vw;
    }

    .slide-5 {
        position: absolute;
        top: -24vh;
        width: 100vw;
    }

    .slide-6 {
        position: absolute;
        top: -24vh;
        width: 100vw;
    }

    @media (max-width: $mobile) {
        .sun-image {
            top: 38vh;
        }
        .slide-1 {
            top: 38vh;
        }
        .slide-2 {
            top: 39vh;
        }
        .slide-3 {
            top: 39vh;
        }
        .slide-4 {
            top: 40vh;
        }
        .slide-5 {
            top: 40vh;
        }
        .slide-6 {
            top: 40vh;
        }
    }

    @media (max-width: $tablet) {
        .sun-image {
            top: 31vh;
        }
        .slide-1 {
            top: 31vh;
        }
        .slide-2 {
            top: 32vh;
        }
        .slide-3 {
            top: 32vh;
        }
        .slide-4 {
            top: 34vh;
        }
        .slide-5 {
            top: 34vh;
        }
        .slide-6 {
            top: 34vh;
        }
    }
}
@media (max-width: $mobile) {
    .hero-container {
        height: 75vh;
    }
}