.hero-container {
    background: $black;
    height: 100vh;

    .sun-image {
        position: absolute;
        left: 24.689vw;
        width: 50%;
    }

    .slide-1 {
        position: absolute;
        top: -26vh;
        width: 100vw;
    }
}