.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $black;

    .landing-text-container {
        -webkit-animation: fade 0.5s forwards;
        -webkit-animation-delay: 5s;
        animation: fade 0.5s forwards;
        animation-delay: 5s;
        animation-duration: 1s;
        opacity: 1;
        position: relative;
        height: 100%;
        width: 100%;


        .landing-text {
            position: absolute;
            top: 50vh;
            width: 500px;
            height: 100px;
            color: $white;
            font-size: 50px;
            margin-left: 25%;
            -webkit-animation: slide-up 0.5s forwards;
            -webkit-animation-delay: 1s;
            animation: slide-up 0.5s forwards;
            overflow: hidden;
            animation-delay: 1s;
            animation-duration: 1s;
            opacity: 0;

            .welcome-text {    
                font-family: HYPE;
            }

            .red-dot {
                color: $white;        
                -webkit-animation: color-change 0.5s forwards;
                -webkit-animation-delay: 1s;
                animation: color-change 0.5s forwards;
                animation-delay: 2s;
                animation-duration: 0.5s;
            }
        }

        @media screen and (max-width: 1200px) {
            .landing-text {
                margin-left: 20%;
            }
        }

        @media screen and (max-width: 768px) {
            .landing-text {
                margin-left: 8%;
                font-size: 40px;
            }
        }
        
        @-webkit-keyframes slide-up {
            100% { top: 45vh; opacity: 1; }
        }
        
        @keyframes slide-up {
            100% { top: 45vh; opacity: 1; }
        }

        @-webkit-keyframes fade {
            100% { opacity: 0; }
        }

        @keyframes fade {
            100% { opacity: 0; }
        }

        @-webkit-keyframes color-change {
            100% { color: $red; }
        }
        
        @keyframes color-change {
            100% { color: $red; }
        }

    }

}

