.nav-desktop-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px 100px;
	color: $black;
	font-family: "SemiBold";
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 10px;
	span {
		cursor: pointer;
	}
	.nav-desktop-container {
		display: flex;
		flex-direction: row;
		.nav-desktop-item {
			margin-top: 10px;
			margin-bottom: 10px;
			margin-right: 10px;
			padding-left: 15px;
			font-family: "Light";
			font-size: 20px;
			letter-spacing: 0px;
		}
		.nav-desktop-item:last-child {
			margin-right: 0px;
		}
		.selected {
			font-family: "Bold";
		}
	}
}