.slide-container {
	position: sticky;
	height: 100vh;
	top: 0;
	overflow-y: scroll;
	img {
		width: 100%;
	}
}
@media screen and (min-width: 860px) {
	.slide-container {
		background: rgba(0, 0, 0, 0.50);
		opacity: 0.5;
		img {
			display: block;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.slide-container::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}