.slide-container {
	position: sticky;
	height: 100vh;
	top: 0;
	overflow-y: scroll;
	img {
		width: 100%;
	}
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% { opacity: 0; }
	100% { opacity: 1; }
}