$custom-font-path : '/static/fonts';

// Open Sans Pro
@font-face {
	font-family: "HYPE";
	src: url($custom-font-path + "/HYPE.ttf");
}

@font-face {
	font-family: "MrEaves";
	src: url($custom-font-path + "/MrEavesXLModOT-Reg.ttf");
}